body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 3%;
    padding-right: 2%;

}

.half-width img {
    width: 90%;
    padding-top: 2%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(214, 116, 96), rgb(231, 87, 87));
    padding: 11px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.experience-item {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#full-stack-developer {
    border-left: 7px solid tomato;
    border-radius: 0%;
}

#baby-web-developer {
    border-left: 7px solid blue;
    border-radius: 0%;
}

footer p {
    text-align: center;
}